<div class="estudiantes">

    <!-- asignar un array a una lista -->
    <ul>
        <li *ngFor="let estudiante of estudiantes">
          <span [ngClass]="estudiante == '' ? 'rojo' : 'azul'"> Nombre: {{estudiante}}</span>
        </li>
    </ul>
    <label for="nombre"> Nombre1</label>
    <input id="nombre1" [(ngModel)]="nombre1"/>
    <button (click)="cambiar1()"> cambiar estudiante1</button>
    <button (click)="eliminar1()"> eliminar1 estudiante1</button>
      
    <app-formularios ></app-formularios>
</div>