
<div style="margin-top: 3%;" class="formulario">
    <form [formGroup]="formularioActividad" (submit)="submitActividad()">
        id: <input type="text" formControlName="id" class="input"/>
        <span *ngIf="this.formularioActividad.get('id')?.errors?.['required']" class="msjErorr">  (Diguite un ID) </span>
        <span *ngIf="this.formularioActividad.get('id')?.errors?.['minlength']" class="msjErorr">  (Diguite minimo 2 caracteres) </span>

        <br>
        Nombre: <input type="text" formControlName="nombre" class="input"/>
        <span *ngIf="this.formularioActividad.get('nombre')?.errors?.['required']" class="msjErorr">  (Diguite un nombre) </span>
        <span *ngIf="this.formularioActividad.get('nombre')?.errors?.['minlength']" class="msjErorr">  (Diguite minimo 4 caracteres) </span>

        <br>
        Apellido: <input type="text" formControlName="apellido" class="input"/>
        <span *ngIf="this.formularioActividad.get('apellido')?.errors?.['required']" class="msjErorr">  (Diguite un apellido) </span>
        <span *ngIf="this.formularioActividad.get('apellido')?.errors?.['minlength']" class="msjErorr">  (Diguite minimo 4 caracteres) </span>
        <br>
        Email: <input type="text" formControlName="email" class="input"/>
        <span *ngIf="this.formularioActividad.get('email')?.errors?.['required']" class="msjErorr"> (Diguite un correo) </span>
        <span *ngIf="this.formularioActividad.get('email')?.errors?.['email']" class="msjErorr"> (Diguite un correo valido) </span>
        <br>
        <button mat-button color="warn" type="submit" >enviar</button>
    </form>
    

   <hr>
   <br>  
</div>


<div>
    <table style="border: solid;">
        <tr *ngFor="let persona of arrayEstu">
          <td>{{persona.usuario}}</td>
          <td>{{persona.email}}</td>
          <td>{{persona.edad}}</td>
        </tr>
      </table>
</div>
<br>
<table mat-table [dataSource]="students" class="mat-elevation-z8" >
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let estudent"> {{estudent.id}} </td>
    </ng-container>
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let estudent"> {{estudent.nombre}} </td>
    </ng-container>
    <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let estudent"> {{estudent.apellido}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let estudent"> {{estudent.email}} </td>
    </ng-container>
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let estudent"><button mat-icon-button color="primary">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
        </button></td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Borrar </th>
        <td mat-cell *matCellDef="let estudent"><button mat-icon-button color="warn">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
        </button>  </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
