<p>
    <mat-toolbar color="primary" class="">
    <span>My Application</span>
        <span class="example-spacer"></span>
      <button mat-flat-button color="primary" routerLink="/dashboard">Inicio</button>
      <button mat-flat-button color="primary" routerLink="/dashboard/usuarios">usuarios</button>
      <button mat-flat-button color="primary"routerLink="/dashboard/reportes">clases</button>
      <span class="example-spacer"></span>

      <button routerLink="/">
        <mat-icon>logout</mat-icon>
      </button>


    </mat-toolbar>
  </p>
