.contenedor{
    display: grid;
    grid-template-rows: 7% 80%;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    "tool tool"
    "nav estudiantes"
    ;
    height: 1000px;
    width: 100%;
}
.cabeza{
grid-area: tool;
 
}
.nav{
grid-area: nav;
}
.estudiantes{
grid-area: estudiantes;
}